html {
  background-color: #8C43FF;
}

.container222{
  width: 640px;
  height: 436px;
  position: absolute;
  top: calc(50% - 218px);
  left: calc(50% - 320px);
}
.screen{
  width: 519px;
  height: 354px;
  position: absolute;
  top: 0px;
  left: 49px;
  border-radius: 40px;
  background-color: #8C43FF;
  border: 12px solid white;
}
.screen:after{
  content: "";
  width: 458px;
  height: 275px;
  position: absolute;
  top: 30px;
  left: 19px;
  border-radius: 10px;
  background-color: #ffdd95;
  border: 12px solid #51150b;
}
.base{
    width: 616px;
    height: 49px;
    position: absolute;
    z-index: 2;
    bottom: 9px;
    left: 0;
    border-radius: 10px 10px 50px 50px;
    background-color: #a3d3c3;
    border: 12px solid #51150b;
}
.base:after{
    content: "";
    width: 168px;
    height: 22px;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: calc(50% - 84px);
    border-radius: 0 0 15px 15px;
    background-color: #FFF;
    border: 12px solid #51150b;
    border-top: 0px;
}
.face{
  width: 206px;
  height: 87px;
  position: absolute;
  z-index: 3;
  top: 135px;
  left: 148px;
}
@keyframes animationEyes{
  0%{
    background-color: #230f6e
  }
  50%{
    background-color: #4021b1
  }
  80%{
    background-color: #4b27cf
  }
  100%{
    background-color: #5a2ff5
  }
}
.eyes{
  width: 39px;
  height: 41px;
  position: absolute;
  top: 0;
  z-index: 4;
  /* background-color: #230f6e; */
  border-radius: 50%;
  animation: animationEyes 5s linear infinite;
}
.eyes:after{
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  top: 5px;
  right: 7px; 
  z-index: 4;
  background-color: #FFF;
  border-radius: 50%;
}
.eyes-left{
  left: 0;
}
.eyes-right{
  right: 0;
}
@keyframes animationMouth{
  0%{
    border-radius: 0%;
  }
  /* 20%{
    border-radius: 30%;
  } */
  50%{
    border-radius: 40%; /*//*/ 
  }
  80%{
    border-radius: 50%;   
  }
  100%{
    border-radius: 0%;
  }
}
.mouth{
    width: 88px;
    height: 182px;
    position: absolute;
    z-index: 4;
    border-radius: 50%;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #51150b;
    top: -130px;
    left: 45px;
    animation: animationMouth 5s linear infinite;
}
@keyframes animationCheek{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.cheek{
  width: 53px;
  height: 33px;
  position: absolute;
  top: 47px;
  background-color: #f7adba;
  border-radius: 50%;
  animation: animationCheek 5s linear infinite;
}
.cheek-left{
  left: 0;
}
.cheek-right{
  right: 0;
}